
<div class = "cont">
<%= simple_form_for @contact do |f| %>
  <%= f.input :first_name, required: true, input_html: { maxlength: 30 }, label: "First name" %>
  <%= f.input :last_name, required: true, input_html: { maxlength: 30 }, label: "Last name" %>
  <%= f.input :email, required: true, input_html: { maxlength: 30 }, label: "Email address", placeholder: 'user@domain.com' %>

  <%= f.button :submit %>
<% end %>
</div>